<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Regression Suite" verbose="1" configfailurepolicy="continue" parallel="classes" thread-count="2">
    <listeners>
        <listener class-name="com.customertimes.framework.listeners.TestListener"></listener>
    </listeners>
    <test name="Regression" >
        <packages>
            <package name="com.customertimes.test.login.*" >
        </package>
        </packages>
    </test>
</suite>
